<div class="flex">

  <div class="img">
    <img src="../../assets/fashion_image-modified.png">

    <div class=" form-group">

      <div class="form">
        <label>Email</label>
        <input type="text"><br>
    
        <label>password</label>
        <input type="password"><br>
    
        
        <button type="submit">Login</button>
        
      </div>
    
      
    </div>
    
  </div>

  <div class="pic">
    <img src=".../../assets/9b6eec88960d998ced2e1d60f6bdba42.jpg" style="height: 600px; width: 700px;">
  </div>

</div>


