
<header>
  <ul class="nav">
     
      <li><a [routerLink]="['home']">Home</a></li>
      <li><a [routerLink]="['registration']">Registration</a></li>
      <li><a [routerLink]="['log-in']">Login</a></li>
      
      
  </ul>
  
</header>

<!-- <app-home></app-home>
<app-registration></app-registration> 
<app-log-in></app-log-in> -->
<router-outlet></router-outlet>






<!-- two-way binding -->
<!-- <h2>{{hero.name | uppercase}} Details</h2>
<div><span>id: </span>{{hero.id}}</div>
<div>
  <label for="name">Hero name: </label>
  <input id="name" [(ngModel)]="hero.name" placeholder="name">
</div> -->